<header class="bg-white border-bottom d-none d-lg-block">
    <div class="bar-content navbar">
        <div class="container d-flex">
            <div class="mr-auto align-self-center">
                <p class="title">arrow <span class="logo"><img src="assets/logo-sm.png"/></span></p>
            </div>
            <div>
                <p class="bar-user">Welcome, Andrii</p>
            </div>
            <div class="profile-user">
                <button class="btn btn-outline-primary rounded-circle p-0 m-0">
                    <img src="assets/user_ava.png"/>
                </button>
            </div>
        </div>
    </div>
</header>

<!-- sm Header -->
<header class="topp d-block d-lg-none">
    <div class="bar-content navbar">
        <div class="container d-flex justify-content-center">
            <p class="title-sm">arrow</p>
            <span class="logo-sm"><img src="assets/logo-sm.png"/></span>
        </div>
    </div>
</header>
