<footer class="pos-fixed d-none d-md-block">
    <div class="row d-flex justify-content-between">
        <div class="col left-btn">
            <button class="btn btn-primary">
                <i class="fas fa-chevron-left"></i> Back to Cycle Project
            </button>
            
        </div>
        <div class="col right-btn">
            <button class="btn btn-primary">
                Help <i class="far fa-question-circle"></i>
            </button>
        </div>
    </div>
</footer>

<!--<footer class="pos-stick mt-auto d-block d-md-none">
    <div class="sm-btn">
        <button class="btn btn-primary">
            <i class="fas fa-chevron-left"></i> Back to Cycle Project
        </button>
    </div>
</footer>-->